{{css '/css/comps/articledetail.css'}}
{{> navbreadcrumb}}
<div id="article-warp">
<script id ="article-detail-template" type="text/x-handlebars-template">
	<div class="row text-center">
	<h3>\{{title}}</h3>
	</div>
	<div class="row text-center">
		<span>\{{date}}</span>
	</div>
	<br>
	<div class="row aiticle-content">
		<p>\{{{content}}}</p>
	</div>
</script>
</div>

<input id="detailId" type="hidden" value="{{id}}"/>

{{#section 'getArticleDetail'}}
<script type="text/javascript">
$(document).ready(function(){
	var id = $("#detailId").val();
	debugger
	$.ajax({
		url: "http://127.0.0.1:8083/portal/ws/todo/notice/detail?id="+id,
		method: "get",
		dataType: "json",
		success: function(_data) {
			var source = $("#article-detail-template").html();
			var ceshiTemplate = Handlebars.compile(source);
			$("#article-warp").html(ceshiTemplate(_data));
		}
	});
});
</script>
{{/section}}
{{{_sections.getArticleDetail}}}