{{css '/css/comps/articlelistitem.css'}}
<div class="row">
<div class="col-xs-3">
	<img src="/img/tongzhi.png" class="img-responsive img-rounded img-tongzhi">
</div>
<div id="content-warp" class="col-xs-9">
<script id ="todolist-template" type="text/x-handlebars-template">
\{{#each this}}
<div class="article-row">
	<div class="row article-item">
		<div class="col-xs-9 text-overflow article-title">
			<a target="_blank" href="/articledetail?id=\{{id}}">\{{title}}</a></div>
		<div class="col-xs-3 text-right article-date">\{{date}}</div>
	</div>
</div>
\{{/each}}
<div class="row row-more">
	<div class="col-xs-6"></div>
	<div class="col-xs-6 more text-right">
		<a class="btn btn-default" target="_blank" href="/articlelist" role="button">更多...</a>
	</div>
</div>
</script>
</div>
<input id="url" type="hidden" value="{{url}}"/>
{{#section 'getdatalist'}}
<script type="text/javascript">
$(document).ready(function(){
	var url = $("#url").val();
	if (!!!url) {
		url = "http://127.0.0.1:8083/portal/ws/todo/notice/list";
	}
	$.ajax({
		url: url,
		method: "get",
		dataType: "json",
		success: function(_data) {
			var source = $("#todolist-template").html();
			var ceshiTemplate = Handlebars.compile(source);
			$("#content-warp").html(ceshiTemplate(_data));
		}
	});
}); 
</script>
{{/section}}
{{{_sections.getdatalist}}}