{{js '/js/comps/shortcutmenu.js'}}
{{css '/css/comps/shortcutmenu.css'}}
<div class="row row-title">
	<div class="col-xs-6 todolist-title text-right">{{title}}</div>
	<div class="col-xs-6 text-left more">
	</div>
</div>
<div id="content-warp">
<script id ="shortcut-template" type="text/x-handlebars-template">
<div class="row shortcut-group" data-ind="1">
	<div class="col-xs-6 img-item">
		<div class="wodecaiwu"></div>
		<div class="text-center img-item-name">
			<a target="_blank" href="http://10.57.46.131/co/idp/login?userId=\{{userId}}&tenantId=djpt">党群电子政务系统</a>
		</div>
	</div>
	<div class="col-xs-6 img-item">
		<div class="xiezuo"></div>
		<div class="text-center img-item-name">协作提醒</div>
	</div>
</div>
\{{#equal userId 'admin'}}
<div class="row shortcut-group" data-ind="1">
	<div class="col-xs-6 img-item">
		<div class="wodekaoqin"></div>
		<div class="text-center img-item-name">
			<a target="_blank" href="http://10.57.46.132:8181/iam">统一认证管理</a>
		</div>
	</div>
	<div class="col-xs-6"></div>
</div>
\{{/equal}}
</script>
</div>

{{#section 'getUserInfo'}}
<script type="text/javascript">
$(document).ready(function(){
	var userId = window.parent.document.getElementById("currentUser").value;
	var data = {"userId":userId};
	var source = $("#shortcut-template").html();
	var ceshiTemplate = Handlebars.compile(source);
	$("#content-warp").html(ceshiTemplate(data));
}); 
</script>
{{/section}}
{{{_sections.getUserInfo}}}