{{css '/css/comps/tododetail.css'}}
{{> navbreadcrumb}}
<div id="tododetail-warp">
<script id ="todo-detail-template" type="text/x-handlebars-template">
	<div class="page-header row">
		<div class="col-xs-4"></div>
		<div class="col-xs-4 text-left"><h3>申请人信息</h3></div>
		<div class="col-xs-4"></div>
	</div>

	<div class="row text-center">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">申&nbsp;&nbsp;请&nbsp;&nbsp;人:</span>
			  <input type="text" class="form-control" disabled value="\{{name}}" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-xs-4"></div>
	</div>
	<br/>
	<div class="row text-center">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">申请部门:</span>
			  <input type="text" class="form-control" disabled value="\{{org}}" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-xs-4"></div>
	</div>
	<br/>
	<div class="row text-center">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">申请类型:</span>
			  <input type="text" class="form-control" disabled value="\{{type}}" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-xs-4"></div>
	</div>
	<br/>
	<div class="row text-center">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1">申请理由:</span>
			  <input type="text" class="form-control" disabled value="\{{reason}}" aria-describedby="basic-addon1">
			</div>
		</div>
		<div class="col-xs-4"></div>
	</div>
	<br>
	\{{#equal status 1}}
	<div class="row">
	<div class="col-xs-5">
	</div>
	<div class="col-xs-1 text-left">
	<button class="btn btn-success btn-agree" type="button">同意</button>
	</div>
	<div class="col-xs-1 text-right">
	<button class="btn btn-danger btn-reject" type="button">驳回</button>
	</div>
	<div class="col-xs-5">
	</div>
	</div>
	\{{/equal}}
</script>
</div>

<input id="detailId" type="hidden" value="{{id}}"/>

{{#section 'getArticleDetail'}}
<script type="text/javascript">
$(document).ready(function(){
	var id = $("#detailId").val();
	$.ajax({
		url: "http://127.0.0.1:8083/portal/ws/todo/todo/detail?id="+id,
		method: "get",
		dataType: "json",
		success: function(_data) {
			var source = $("#todo-detail-template").html();
			var ceshiTemplate = Handlebars.compile(source);
			$("#tododetail-warp").html(ceshiTemplate(_data));
			addClick(id);
		}
	});
});
function addClick(id) {
	$(".btn-agree").click(function(){
		$.ajax({
			url: "http://127.0.0.1:8083/portal/ws/todo/todo/opt?type=1&id="+id,
			method: "get",
			dataType: "json",
			success: function() {
				alert("同意操作成功");
				setTimeout("window.close()", 500);
			}
		});
	});
	$(".btn-reject").click(function(){
		$.ajax({
			url: "http://127.0.0.1:8083/portal/ws/todo/todo/opt?type=2&id="+id,
			method: "get",
			dataType: "json",
			success: function() {
				alert("驳回操作成功");
				setTimeout("window.close()", 500);
			}
		});
	});
}
</script>
{{/section}}
{{{_sections.getArticleDetail}}}